# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# OS specific files
.DS_Store
